{% extends 'base.html.twig' %}

{% block title %}Lot index{% endblock %}

{% block body %}
    <h1>Lot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdLot</th>
                <th>IdProduit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lot in lots %}
            <tr>
                <td>{{ lot.idLot }}</td>
                <td>{{ lot.idProduit }}</td>
                <td>
                    <a href="{{ path('lot_show', {'id': lot.idLot}) }}">show</a>
                    <a href="{{ path('lot_edit', {'id': lot.idLot}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lot_new') }}">Create new</a>
{% endblock %}
