{% extends 'base.html.twig' %}

{% block title %}Vente index{% endblock %}

{% block body %}
    <h1>Vente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Nlot</th>
                <th>IdLot</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vente in ventes %}
            <tr>
                <td>{{ vente.idvente }}</td>
                <td>{{ vente.lieu }}</td>
                <td>{{ vente.date ? vente.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vente.nlot }}</td>
                <td>{{ vente.idlot }}</td>
                <td>
                    <a href="{{ path('vente_show', {'idvente': vente.idvente}) }}">show</a>
                    <a href="{{ path('vente_edit', {'idvente': vente.idvente}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vente_new') }}">Create new</a>
{% endblock %}
